<div>
  <form action="/create-stylist" method="post">
      <h1>Make A Stylist</h1>
      <div>
        <label for="name"></label>
        <input name="name" type="text" placeholder="Name">
      </div>
      <input type='submit' value="Create Stylist">
  </form>
</div>