<form action="/update-stylist/$found-stylist.getId()" method="post">
  <h3>Update Stylist Description</h3>
  <div class="input-group">
    <input type="text" name="newDescription" placeholder="description">
  </div>
  <input type="submit">
</form>